#apresentacao {
    margin-top: calc(5rem + 1rem);
    padding: 20px;
    background-color: var(--tertiary);
    text-align: center;
}

#apresentacao .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto 20px;
    padding: 0 5%; 
}

#apresentacao h2 {
    color: var(--secondary);
    font-size: 2rem;
    margin: 0;
}

#apresentacao p {
    color: var(--senary);
    font-size: 1rem;
    line-height: 1.5;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;
}

<<<<<<< HEAD
@media (min-width: 1200px) {

    .video-container {
        width: 70%;
=======
@media (min-width: 800px) {

    .video-container {
        margin: 15px;
        max-width: 950px;
>>>>>>> 30029e6e60af0470a24e11e721c80cc5c8944d3c
        margin: auto;
    }
}
