#obras {
    margin-top: 2rem;
    padding: 20px;
    text-align: center;
    background-color: var(--tertiary);
}

#obras h2 {
    color: var(--secondary);
    margin-bottom: 20px;
}

@media (max-width: 992px) {
.carrossel-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    background: var(--quinary);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.cards-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

}

.card {
    flex: 0 0 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background: var(--quinary);
    border: 1px solid var(--tertiary);
    border-radius: 8px;
}

.card .logo {
    width: 50%;
}

.card .photo {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.card .saiba-mais {
    padding: 10px 20px;
    background: var(--primary);
    color: var(--quinary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--primary);
    color: var(--quinary);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

