* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #2A3B8F; /* Azul Eclesiástico */
    --secondary: #e18c5a; /* Laranja */
    --tertiary: #F2F2F2; /* Cinza claro */
    --quaternary: #E5E5E5; /* Cinza escuro */
    --quinary: #FFFFFF; /* Branco */
    --senary: #000000; /* Preto */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary);
}


